.jumbotron {
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: gainsboro;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-movie {
    flex: 1 200px;
    margin: 10px 3px 0px 3px;
    padding: 0px;
}

.card-faqs {
    margin-left: 5px;
    margin-right: 10px;
}

.btn-watch {
    width: 100%;
    border-radius: 0%;
}

i {
    padding-right: 10px;
}

address p {
    margin-bottom: 5px;
}

img {
    width: 100%;
}