.jumbotron {
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #2596be;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #dcdcdc;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.card-movie {
  flex: 1 200px;
  margin-top: 10px;
  margin-right: 3px;
  margin-bottom: 0px;
  margin-left: 3px;
  padding: 0px;
}
.card-faqs {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.btn-watch {
  width: 100%;
  border-radius: 0%;
}
i {
  padding-right: 10px;
}
address p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}
img {
  width: 100%;
}
